:root{
    --bg-color:#14453D;
    --primary-color:#F2D2DB;
    --secondary-color:#14453D;
    --accets-color: #fff;

}

body{
    padding: 0;
    margin: 0;
    /*font-family: 'Sintony', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

main{
    background-color: var(--bg-color);
    background: linear-gradient(270deg, var(--bg-color)50%, rgba(72, 129, 120,1) 100%);
}

header,
.portada{
    width: 1280px;
    margin: 0 auto;

}

header{
    display: flex;
    padding: 50px 0;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    justify-content: space-between;
}

header .logo{
    font-weight: bolder;
    color: var(--accets-color);
    font-size: 40px;
}

header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

header nav ul li{
    display: inline-block;
    margin: 0 30px;
}

header nav ul li a{
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    padding: 50px 0;
    border-bottom: solid 2px transparent; 
    transition: all 0.5s;
}

header nav ul li a:hover{
    color: var(--accets-color);
    border-bottom: solid 2px white;
}

.header-button{
    color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 5px;
    border: solid 2px rgba(255,255,255,0.1);
    text-decoration: none;
    transition: background-color 0.3s; 
}

.header-button :hover{
    background-color: rgba(255,255,255,0.1);
}

.btn{
    padding: 20px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-right: 15px;
    font-weight: bold;
}

.primary-button{
    background-color: var(--primary-color);
    color: var(--secondary-color);  
}

.secondary-button{
    background-color: rgba(255,255,255,0.1);
    color: var(--primary-color);
}
.complement-button{
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--secondary-color);
}

.pink-space{
    background-color: var(--primary-color);
}

.portada .info-container {
    display: flex;
    height: 400px;

}

.portada .info-container .content{
    width: 50%;
    height: 300px;
}

.portada .info-container .content h1{
    font-size: 52px;
    margin: 30px 0 15px 0;
    color: var(--primary-color);
    line-height: 1em;
}

.portada .info-container .content ul{
    list-style-image: url(img/bullet.svg);
    padding: 20px 30px;
}

.portada .info-container .content li{
    color: var(--accets-color);
    padding: 5px 0;
}

.portada .info-container .content .buttons-container{
    padding: 30px 0 90px 0;
}

.cover img{
    position: absolute;
    right: 0;
    margin-top: -10px;
    height: 534px;
}

.features-container{
    background-color: var(--accets-color);
     display: flex;
     height: 125px;
     
}

.features-container .features-layout{
    background-color: var(--accets-color);
    width: 60%; 
    margin: 0 auto;
}

.features-container .pink-space{
    width: 40%;
}

.features-container .features-layout .features-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features-container .features-layout .features-items .features-item{
    font-size: 13px;
    padding: 15px 15px;
    vertical-align: center;
    width: 15%;
    font-size: 16px;
}

.organic-container{
    background: #fff;  
    padding: 40px 0;
}

.organic-container .table-comparative-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*.organic-container .table-comparative-container> div{
}*/

.organic-container .table-comparative-container .left{
    background: var(--primary-color);
    color: var(--secondary-color);
}

.organic-container .table-comparative-container .right{
    background: var(--secondary-color);
    color: var(--accets-color);
}

.organic-container .table-comparative-container .right h4{
    color: var(--primary-color);
}

.organic-container .table-comparative-container .right .row{
    flex-direction: row-reverse;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.organic-container .table-comparative-container .row{
    display: flex;
    align-items: center;
    padding: 40px 0;
    border-bottom: solid 1px rgba(0,0,0, 0.1);
    height: 144px;
}

.organic-container .table-comparative-container .row .icon{
    margin: 0 40px;
}

.organic-container .table-comparative-container .row h4{
    font-size: 20px;
    margin: 0;
}

.organic-container .table-comparative-container .row .description{
    width: 40%;
    font-size: 12px;
}

.organic-container .cup-container{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.organic-container .shopping-container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    margin: 10px auto;
    text-align: center;
}

.mar-container{
    background: white;
    padding-top: 50px;
}

.mar-container .layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1100px;
    gap: 100px;
}

.mar-container .mar-image-container{
    background-image: url(./img/mar_fotografia.jpg);
    width: 500px;
    height: 450px;
    background-size: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.mar-container .mar-description-container .buttons-container{
    padding: 20px 0;
    display: flex;
}

.mar-container .mar-description-container .buttons-container .secondary-button{
    background-color: #FCF0F3;
    color: var(--secondary-color);
}



.mar-container .mar-description-container .buttons-container .fa-shopping-bag{
    padding-right: 10px;
}

.banner{
    background-color: white;
    height: 400px;
    padding-top: 50px;
}

.banner-container{
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    
}

.banner-container .col{
    height: 100%;
    width: 100%;
}

.banner-container .headline{
    color: var(--primary-color);
    margin: 0 40px;
}

.banner-container .banner-bg-image{
    background-image: url(./img/imagenes-hojas-de-fondo.png);
    background-size: 110%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner-container .banner-grid{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr ;
    align-items: center;   
   
}

.banner-container .logo-container{
    text-align: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 40px;
    display: grid;
    grid-template: 1fr;
    align-items: center;
    box-sizing: border-box;
    border: solid 1px rgba(255,255,255, 0.2);
}

.banner-container .banner-grid img{
    width: 90px;
    padding: 12px;
}


.impresos{
    background-color: white;
    padding-top: 150px;
    padding-bottom: 150px;
}

.impresos .layout{
    width: 1100px;
}

.impresos-container{
    display: flex;
}

.impresos-container .panel-left, 
.impresos-container .panel-right{
    height: 690px;
    width: 100%;
}

.impresos-container .panel-left{
    margin-top: 100px;
    background-color: var(--bg-color);
    background-image: url(./img/foto_imagen_impreso_fondo.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.impresos-container .panel-right{
    background-color: var(--primary-color);
    text-align: center;
}

.impresos-container .panel-right .aling-right{
    text-align: right;
}

.impresos-container .panel-right .content-block{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    line-height: 30px;
}

.contact {
    background-color: white;
    padding: 100px 0;
}

.contact-container .back-layer{
    background-color: var(--primary-color);
    width: 73%;
    padding: 80px;
    box-sizing: border-box;
}

.contact-container .back-layer .fa-shopping-bag{
    padding: 0 10px;
}

.contact-container .front-layer{
    position: absolute;
    width: 100%;
    top: 0;
    height: 397px;
    display: grid;
    align-items: center;
    background-image: url(./img/hojas_contacto.png);
    background-repeat: no-repeat;
    background-position: center bottom;

}

.contact-container .front-layer .contact-info{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 35%;
    font-size: 20px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: 0;
    
}

.contact-container .front-layer .contact-info .info{
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.contact-container .front-layer .contact-info .info:nth-child(1){
    border-bottom:  solid 1px rgba(255,255,255, 0.05);   
}

.contact-container .front-layer .contact-info .info img{
    margin-right: 40px;
    

}

.footer{
    padding: 70px 0px;
    height: 10px;;
}


.footer .layout{
    display: flex;
    justify-content: space-between;
    
}

.footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer li{
    display: inline-block;
    margin: 0 20px;
}

.footer li a {
    color: rgba(0,0,0, 0.5);
    text-decoration: none;
    font-weight: bolder;
    transition: color 0.5s;
}

.footer li a:hover{
    color: var(--secondary-color);
}

.layout{
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

h3{
    color: var(--secondary-color);
    font-size: 32px;
    margin: 0;
    padding: 40px 0;
}